.edit-avatar__input-cover {
    display: flex;
    flex-direction: column; /* столбец */
    align-items: center; /*  */
    width: 358px;
    height: 58px;
    border: none;
    margin: 0;
  }

  @media screen and (max-width: 750px) {
    .edit-avatar__input-cover {
        width: 238px;
    }
  }
