.look-img__btn-close {
  position: absolute;
  padding: 0;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: none; /**/
  background: url("../../../images/close.svg") no-repeat;
  background-size: cover;
  color: white;
  cursor: pointer;
}

.look-img__btn-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 750px) {
  .look-img__btn-close {
      width: 20px;
      height: 20px;
      right: 0px; /**/
      top: -36px;
  }
}
