.bild-card__btn-save {
  margin-top: 32px;/* 48-16 */
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  width: 358px;
  height: 50px;
  border: none;/**/
  cursor: pointer;
  background-color: black; /* #ffdb4d;*/
  color: white;
}
  
.bild-card__btn-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 750px) {
  .bild-card__btn-save {
      margin-top: 29px;/* 45-16 */
      width: 238px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
  }
}
